<!DOCTYPE html>

{% load static %}

<html>
<head>
	<link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
	<script src="{% static 'js/script.js' %}"></script>

	<meta charset="utf-8" />
	<title>Результаты</title>



</head>


<body class="body">
<header class="header">
	<a onclick="javascript:history.back(); return false;" class="button_back"> Назад </a>
	{% if button_class == "primary" %}
	<a href="/primary" class="button1"> Стартовые протоколы </a>
    <a href="/results" class="button2"> Результаты </a>
	{% elif button_class == "results" %}
	<a href="/primary" class="button2"> Стартовые протоколы </a>
    <a href="/results" class="button1"> Результаты </a>
	{% endif %}
	<a href="{% url 'home' %}" class="button3"> Главная страница </a>
</header>


<div class="wrapper">
<div class="content">
<div class="vertical-menu">
    {% for fold in folders %}
        <label><a href="{{fold.1}}">{{fold.0}}</a></label>

    {% endfor %}





</div>
</div>
</div>
<footer class="footer">
	<p>Над проектом работали:</p>
	<p>Гурковский Артём, Зайцев Сергей, Макарова Ольга</p>
	<p>Научный руководитель: Сластников Сергей Александрович </p>

</footer>

</body>
</html>
